/* -------RESETS------- */
html {
    color: #202020;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Lato, sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: #575757;
}

*, *::after, *::before {
    color: inherit;
    box-sizing: inherit;
    font-family: inherit;
}
/* -------RESETS END------- */

label {
    width: 100%;
    display: block;
    margin: 50px auto 20px auto;
}

.main {
    text-align: center;
    margin: 250px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

div.select3 {
    position: relative;
    cursor: pointer;
    display: inline-block;
    min-width: 180px;
    min-height: 40px;
    line-height: 40px; /* TODO reduce this*/
    background: #fff;
}

div.select3.opened {
    overflow: visible;
}

.select3 .inner {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s max-height;
}

.select3 > .selected-top {
    width: 100%;
    height: 100%;
    display: block;
    background: #fff;
}

.select3.opened > .inner {
    border-top: 1px solid #000;
}

.select3 .inner span {
    width: 100%;
    display: block;
    text-align: start;
    padding-inline-start: 30px;
}

.select3 .inner span.selected {
    font-weight: bold;
    background: #e0e0e0;
}

.select3 .inner span.title {
    font-size: 90%;
    font-weight: bold;
    font-style: italic;
    padding-inline-start: 10px;
}

/* Multiple select */
.select3.multiple {
    display: flex;
    flex-wrap: wrap;
    /*column-gap: 10px;*/
}

.select3.multiple > .selected-top {
    display: inline-block;
    width: fit-content;
    height: 70%;
    align-self: center;
    line-height: 28px;
    padding-inline: 5px;
    margin-inline: 5px;
    background: #c6c6c6;
    border-radius: 10px;
    font-size: 14px;
}

.select3.multiple .inner {
    width: 100%;
}

.select3.multiple .inner span {
    position: relative;
    padding-inline-start: 45px;
}

.select3.multiple .inner span::before {
    content: '';
    position: absolute;
    top: 12px;
    inset-inline-start: 15px;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 4px;
}

.select3.multiple .inner span[data-selected="1"]::after {
    content: url("checkmark.svg");
    position: absolute;
    top: 14px;
    inset-inline-start: 17px;
    width: 12px;
    height: 12px;
    line-height: 12px;
}
/* Multiple select end */
