/* -------RESETS------- */
html {
    color: #202020;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Lato, sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: #575757;
    padding-bottom: 500px;
}

*, *::after, *::before {
    color: inherit;
    box-sizing: inherit;
    font-family: inherit;
}
/* -------RESETS END------- */

label {
    width: 100%;
    display: block;
    margin: 50px auto 20px auto;
}

.main {
    text-align: center;
    margin: 250px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
}

div.select3 {
    position: relative;
    cursor: pointer;
    display: inline-block;
    min-width: 180px;
    min-height: 40px;
    line-height: 40px; /* TODO reduce this*/
    background: #fff;
}

div.select3.opened {
    overflow: visible;
}

.select3 .inner {
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    max-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.3s max-height;
}

.select3 > .selected-top {
    width: 100%;
    height: 40px;
    display: block;
    background: #fff;
}

.select3 > .placeholder {
    color: #666;
    width: 100%;
    height: 40px;
    display: none;
    background: #fff;
}

.select3 .inner input.search {
    font-size: 18px;
    height: 24px;
    padding: 3px;
    width: calc(100% - 20px);
}

.select3 .inner span {
    width: 100%;
    height: 40px; /* Possibly WIP */
    display: block;
    text-align: start;
    padding-inline-start: 30px;
}

.select3 .inner span:not(.title):hover {
    background: #efefef;
}

.select3 .inner span:not(.title).selected {
    font-weight: bold;
    background: #e0e0e0;
}

.select3 .inner span.disabled {
    opacity: 0.7;
    background: #c0c0c0;
}

/* Multiple select */
.select3.multiple {
    display: flex;
    flex-wrap: wrap;
    /*column-gap: 10px;*/
}

.select3.multiple > .selected-top {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: 70%;
    align-self: center;
    line-height: 28px;
    padding-inline-end: 5px;
    padding-inline-start: 30px;
    margin-inline: 5px;
    background: #c6c6c6;
    border-radius: 10px;
    font-size: 14px;
}

.select3.multiple > .selected-top b.remove {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 25px;
    height: 100%;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    padding-inline: 8px 5px;
    transition: 0.3s background;
    border-radius: 10px 0 0 10px;
    border-inline-end: 1px solid gray;
}

.select3.multiple > .selected-top b.remove:hover {
    background: #a6a6a6;
}

.select3.multiple .inner {
    width: 100%;
}

.select3 .inner span.title {
    font-size: 90%;
    font-weight: bold;
    font-style: italic;
    padding-inline-start: 10px;
}

.select3.multiple .inner span:not(.title) {
    position: relative;
    padding-inline-start: 45px;
}

.select3.multiple .inner span:not(.title)::before {
    content: '';
    position: absolute;
    top: 12px;
    inset-inline-start: 15px;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 4px;
}

.select3.multiple .inner span[data-selected="1"]::after {
    content: "";
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12px' height='12px' viewBox='0 0 12 12' version='1.1'%3e%3cg id='surface1'%3e%3cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(0%25,0%25,0%25);fill-opacity:1;' d='M 11.949219 2.910156 L 4.511719 10.351562 C 4.445312 10.417969 4.339844 10.417969 4.273438 10.351562 L 0.0507812 6.128906 C -0.015625 6.0625 -0.015625 5.957031 0.0507812 5.890625 L 1.074219 4.863281 C 1.140625 4.796875 1.246094 4.796875 1.3125 4.863281 L 4.390625 7.941406 L 10.6875 1.648438 C 10.753906 1.582031 10.859375 1.582031 10.925781 1.648438 L 11.949219 2.675781 C 12.015625 2.738281 12.015625 2.847656 11.949219 2.910156 Z M 11.949219 2.910156 '/%3e%3c/g%3e%3c/svg%3e");
    position: absolute;
    top: 14px;
    inset-inline-start: 17px;
    width: 12px;
    height: 12px;
    line-height: 12px;
}
/* Multiple select end */
